@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

nav {
background-color: #1e2333;
}

#Head{
  font-family: 'Play', sans-serif;
}
.navbar-dark .navbar-toggler {
   
 border-radius:5px;
outline: none !important;
background: #1e2333;
box-shadow:  5px 5px 10px #0c0e14,
             -5px -5px 10px #303852;
}
