@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

#Head{
  font-family: 'Play', sans-serif;
}
.navbar-dark .navbar-toggler {
   
 border-image-source: linear-gradient(to right, cyan, #deeb34);
 border-image-slice: 1;

}