@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Indie+Flower&family=Nunito:ital,wght@0,200;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body{
 background-color: #2C3336;
 
}
#desc{
    font-family: 'Nanum Gothic', sans-serif;
}
#namelight{
    color:red;
}

#imgme{
  border-radius: 25%;
  margin-left: 18%;
  filter: drop-shadow(5px 5px cyan); 
  margin-top: 16vh;
 
  width: 400px;
  height: 400px;
}
#divmain{
  display: flex;
  flex-direction: row;

}
#det{
  align-items: left;
  width:30%;
   margin-top: 25vh;

    margin-left: 10%;
    color:white;
}
#we{
   justify-content: space-around;
   margin-left:20px;
  
}   
   

#name{
  font-family: 'Comfortaa', cursive;
  color:white;
}
.sub{
font-family: 'Nunito', sans-serif;
color:white;
}
@media screen and (max-width:700px) {

  #divmain{
    display: flex;
    flex-direction: column;
  }
  #imgme{
     border-radius: 25%;
    margin: 0 auto;
     width: 230px;
    height: 230px;
    margin-top: 4vh;
  }
  #det{
   margin-top: 5vh;
    margin-left: auto;
    margin-right:auto;
    width:97%;
    
}
#det h5{
  font-size: 18px;
}
#name{
  font-size: 35px;
}
}
