@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Indie+Flower&family=Nunito:ital,wght@0,200;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#main{
    margin:5% auto;
    
}

#head{
    font-family: 'Comfortaa', cursive;
    color:white;
}
#pro{
    height:100%;

    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
}

.projects{
    width:270px;
    border:2px cyan solid;
    height:270px;
     border-radius: 5px;
    margin:30px;
    padding:10px;
border-image-source: linear-gradient( to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
  border-image-slice: 1;
}
#pro_head{
    color:white;
    margin-top:10px;
   
}
#pro_tools{
     color:rgb(188, 252, 252);
     
}
#desc{
    margin-top:20px;
    color:white;
}
  

@media all and (max-width:600px) {
    #pro{
   
    display: flex;
    flex-direction: column;
  
    flex-wrap: wrap;

}
#main{

    margin:3% auto;
    
}
}
@media all and (max-width:400px){
    #main{
        margin-top:10vh;
    }
}
