@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Indie+Flower&family=Nunito:ital,wght@0,200;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#main{
    margin:5% auto;
    
}

#head{
    font-family: 'Comfortaa', cursive;
    color:white;
    margin-bottom: 5%;
}

.maindiv{
    width:60vw;
    height:fit-content;
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin:2%;
   
   
}

.img-div{
   width:40%;

    margin:2%;


}
.content-div{
   margin: 2%;
    height:90%;
    width: 40%;
    text-align: left;
   
   
}
span{
    background-color: ash;
    padding:0;
    border-radius: 3px;
}
#tech{
    background-color: rgb(129, 120, 120);
    width:fit-content;
    border-radius: 5px;
    padding:2px;
    color:white;
}
.bttn{
    margin-right:1%;
}
@media all and (max-width:700px){
    .maindiv{
        flex-direction: column;
        width:95%;
        border-radius: 10px;
        margin:0 auto;
    }
    .img-div{
        margin:2% auto;
        width:90%;
    }
     .content-div{
        width:90%;
         margin:2% auto;
    }
}
